<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musk.test">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:style/Theme.NoDisplay -->
        <!-- android:style/Theme.Translucent.NoTitleBar -->
        <!-- android:style/Theme.Translucent.NoTitleBar.Fullscreen -->
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true"
            android:name=".TranslucentActivity"/>
    </application>

</manifest>